* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}
body {
  padding: 1.5rem;
  width: 100vw;
  min-height: 100vh;
  color: white;
}
h1 {
  margin-bottom: 1.5rem;
}
form {
  margin-bottom: 1.5rem;
  width: 100%;
}
form > div {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
}
form > div > div {
  display: flex;
  flex-direction: column;
  flex: 1;
}
input {
  padding: 0.75rem;
  border-radius: 3px;
  outline: none;
  border: 1px solid white;
  color: white;
}
label {
  margin-bottom: 0.5rem;
}
form button {
  background-color: white;
  color: black;
  border: none;
  padding: 0.75rem 1.75rem;
  cursor: pointer;
}

.number {
  color: gray;
  font-size: 18px;
}
h2 {
  margin: 1.5rem 0;
}

li button {
  background-color: white;
  color: black;
  border: none;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  border-radius: 0.5rem;
}
li {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: fit-content;
}
li > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem;
  border: 1px solid white;
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem;
}

.hide {
  display: none;
}
