* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  color: white;
  max-width: 100vw;
}
main {
  background: black;
  color: white;
  max-width: 100vw;
}

.container {
  max-width: 600px;
  width: 100%;
  margin: auto;
  margin-top: 25px;
  padding: 1.25rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.25rem;
}

.set-timer {
  width: 100%;
  background: #34344a;
  border-radius: 12px;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3px;
}

.set-timer input {
  width: 55px;
  margin-left: 5px;
  margin-right: 5px;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 22px;
  text-align: center;
  border-bottom: 2px solid white;
}
.set-timer input::-webkit-inner-spin-button {
display: none;
}

.set-timer span {
  font-size: 18px;
}

#setBtn,
.delete-btn
 {
  background: #f4f74d;
  border: none;
  padding: 8px 18px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}

.delete-btn2
 {
  background: black;
 color: #f4f74d;
  border: none;
  padding: 8px 18px;
  border-radius: 20px;
  cursor: pointer;
  
}

.current-timers {
  width: 200px;
  margin: 25px auto;
  text-align: center;
  background: #3b3b47;
  padding: 10px;
  border-radius: 20px;
}

#emptyMsg {
  text-align: center;
  margin-top: 15px;
}
.timerContainer {
  max-width: 600px;
  width: 100%;
  margin: auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 18px;
}




.timer-card {
  background: #34344d;
  border-radius: 12px;
  padding: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.time {
  font-size: 28px;
  font-weight: bold;
}

.finished {
  background: #f4f74d;
  color: black;
}

.finished h3 {
  font-size: 28px;
}
